@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  /* background-color: green; */
  background-image: url(https://images.pexels.com/photos/3279691/pexels-photo-3279691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  height: 5rem;
  /* background-color: red; */
}

.myImg {
  width: 5rem;
  height: 5rem;
}
section {
  height: 15rem;
  /* background-color: blue; */
  margin-left: 5rem;
  margin-right: 5rem;
}

/* article {
  background-color: yellow;
} */

.card {
  background-color: white;
  height: 12rem;
  width: 8rem;
  box-shadow: 1rem;
  margin: 1rem;
}

ul {
  list-style-type: none;
}

.number {
  font-size: 2rem;
  margin-top: -1rem;
}
.heart {
  color: red;
  font-size: 1.3rem;
}

.cardHeight {
  font-size: 3rem;
}

.flip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.suit {
  font-size: 1.3rem;
}
/* .bottomSuit {
  margin-bottom: 0.01rem;
} */

.listaPrincipal {
  display: inline;
  flex-direction: row;
  justify-content: space-around;
}
.list {
  list-style-type: none;
}

.paragraph {
  color: white;
}

.form-control {
  margin: 1rem;
}
