@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

form {
  height: 5rem;
  background-color: red;
}

section {
  height: 15rem;
  background-color: blue;
  margin-left: 5rem;
  margin-right: 5rem;
}

article {
  background-color: yellow;
}

.card {
  background-color: white;
  height: 12rem;
  box-shadow: 1rem;
  display: flex;
  justify-content: space-around;
}
.number {
  font-size: 2rem;
  margin-top: -1rem;
}
.heart {
  color: red;
  font-size: 1.3rem;
}

.cardHeight {
  font-size: 3rem;
}

.flip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.suit {
  font-size: 1.3rem;
}
.bottomSuit {
  margin-bottom: 0.01rem;
}

.listaPrincipal {
  display: inline;
  flex-direction: row;
  justify-content: space-around;
}
.list {
  list-style-type: none;
}
